<!-- tecnico/templates/tecnico/detalle_tecnico.html -->

{% extends 'base.html' %}

{% block title %}Detalle del Técnico{% endblock %}

{% block content %}
<h1>Detalle del Técnico</h1>
<p><strong>Nombre Completo:</strong> {{ tecnico.nombre_completo }}</p>
<p><strong>Dirección:</strong> {{ tecnico.direccion }}</p>
<p><strong>Celular:</strong> {{ tecnico.celular }}</p>
<p><strong>Correo Electrónico:</strong> {{ tecnico.correo_electronico }}</p>
<a href="{% url 'lista_tecnicos' %}" class="btn btn-primary">Volver a la lista</a>
{% endblock %}
