<!-- tecnico/templates/tecnico/lista_tecnicos.html -->

{% extends 'base.html' %}

{% block title %}Lista de Técnicos{% endblock %}

{% block content %}
<h1>Lista de Técnicos</h1>
<ul class="list-group">
    {% for tecnico in tecnicos %}
        <li class="list-group-item">
            <a href="{% url 'detalle_tecnico' tecnico.id %}">{{ tecnico.nombre_completo }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'crear_tecnico' %}" class="btn btn-success mt-3">Crear nuevo técnico</a>
{% endblock %}
