<!-- finanzas/templates/finanzas/detalle_transaccion.html -->

{% extends 'base.html' %}

{% block title %}Detalle de la Transacción{% endblock %}

{% block content %}
<h1>Detalle de la Transacción</h1>
<p><strong>Cliente:</strong> {{ transaccion.cliente.nombre_completo }}</p>
<p><strong>Tipo de Transacción:</strong> {{ transaccion.tipo_transaccion }}</p>
<p><strong>Monto:</strong> {{ transaccion.monto }}</p>
<p><strong>Descripción:</strong> {{ transaccion.descripcion }}</p>
<a href="{% url 'lista_transacciones' %}" class="btn btn-primary">Volver a la lista</a>
{% endblock %}
