<!-- cliente/templates/cliente/lista_clientes.html -->

{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1>Lista de Clientes</h1>
<ul class="list-group">
    {% for cliente in clientes %}
        <li class="list-group-item">
            <a href="{% url 'detalle_cliente' cliente.id %}">{{ cliente.nombre_completo }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'crear_cliente' %}" class="btn btn-success mt-3">Crear nuevo cliente</a>
{% endblock %}
